{{!-- Cart page --}}

{{> header}}

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each cartProducts.items}}
        <tr>
          <td>
            <img 
              src="{{image}}"
              alt=""
              width="128"
              height="128"
            >
            <h5>
              <a href="/product/{{master}}?variation={{id}}" class="product-title">{{name}}</a>
            </h5>
          </td>

          <td>
            <input type="number" id="counter" data-pid={{id}} class="form-control w-50" min="1" max="5" value="{{quantity}}">
          </td>

          <td>
            <h5 id="product-price" data-pid={{id}}>${{price}}</h5>
          </td>

          <td>
            <button 
              id="remove-cart-item" 
              class="btn btn-danger"
              data-pid={{id}}
            >Remove</button>
          </td>
        </tr>
      {{/each }}

      <tr>
        <td>
          <h5 id="shipping">Shipping: ${{cartProducts.shipping}}</h5>
        </td>
        <td>
          <h5 id="discount">Discount: {{cartProducts.discount}}%</h5>
        </td>
        <td>
          <h5 id="total-price">Total: ${{cartProducts.totalPrice}}</h5>
        </td>
        <td>
          <button 
            id="count-tax"
            class="btn btn-success"
            data-amount={{cartProducts.totalPrice}}
          >Count taxes</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <h5 id="taxes"></h5>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

{{> alert}}

<script src="/js/compiled/cart.js"></script>
