{{!-- Cart page --}}

{{> header}}

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each cartProducts.items}}
        <tr>
          <td>
            <img 
              src="{{image}}"
              alt=""
              width="128"
              height="128"
            >
            <h5>
              <a href="/product/{{master}}?variation={{id}}" class="product-title">{{name}}</a>
            </h5>
          </td>

          <td>
            <h5>{{quantity}}</h5>
          </td>

          <td>
            <h5>${{price}}</h5>
          </td>

          <td>
            <button 
              id="remove-cart-item" 
              class="btn btn-danger"
              data-pid={{id}}
            >Remove</button>
          </td>
        </tr>
      {{/each }}

      <tr>
        <td></td>
        <td></td>
        <td>
          <h5>Total: ${{cartProducts.totalPrice}}</h5>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<script src="/js/compiled/cart.js"></script>