{{!-- Home page --}}

{{> header}}


<div class="container">
  <div class="d-flex flex-row mt-3">
    <div class="col-md-9 d-flex flex-column align-items-center">
      <div class="d-flex flex-row flex-wrap justify-content-between">
        {{#each products.masterProducts}}
          <div class="card mt-4" style="width: 18rem;">
            <img 
              src="{{image}}"
              id="variation-image"
              data-id={{master}}
              class="card-img-top" 
              alt="..."
            >
            <div class="card-body">
              <div class="mt-auto">
                <h5 class="card-title">
                  <a href="/product/{{master}}?variation={{variations.[0].pid}}" class="product-title">{{name}}</a>
                </h5>
              </div>

              <select class="form-select mb-3" id="select-variation" aria-label="Default select" data-id={{master}}>
                {{#each variations}}
                  <option value="{{pid}}">{{displayValue}}</option>
                {{/each}}
              </select>

              <label for="input-quantity" class="form-label">Quantity</label>
              <input type="number" id="input-quantity" data-id={{master}} class="form-control" min="1" max="5" value="1">

              <h4 id="variation-price" data-id={{master}} data-price={{price}}>Price: {{price}}$</h4>

              <button id="add-cart-product" data-id={{master}} class="btn btn-success mt-4">Add to cart</button>

            </div>
          </div>
        {{/each}}
      </div>

      <nav class="mt-5" aria-label="Page navigation">
        <ul class="pagination">
          {{!-- <li class="page-item"><a class="page-link" href="/">Previous</a></li> --}}
          {{#times products.count}}
            <li class="page-item">
              <a class="page-link" href="/?page={{this}}">{{this}}</a>
            </li>
          {{/times}}
          {{!-- <li class="page-item"><a class="page-link" href="/">Next</a></li> --}}
        </ul>
      </nav>
    </div>
  </div>
</div>

{{> alert}}

<script src="/js/compiled/home.js"></script>