{{!-- Home page --}}

{{> header}}


<div class="container">
  <div class="d-flex flex-row mt-3">
    <div class="left-column col-md-3 mt-3">
      <h3>Sidebar</h3>
    </div>

    <div class="col-md-9 d-flex flex-column align-items-center">
      <div class="d-flex flex-row flex-wrap justify-content-between">
        {{#each products.masterProducts}}
          <div class="card mt-4" style="width: 18rem;">
            <img 
              src="{{image}}" 
              class="card-img-top" 
              alt="..."
            >
            <div class="card-body">
              <div class="mt-auto">
                <h5 class="card-title">
                  <a href="/product/{{id}}?variation={{variations.[0].pid}}" class="product-title">{{name}}</a>
                </h5>
                <a href="#" class="btn btn-success">Add to cart</a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>

      <nav class="mt-5" aria-label="Page navigation">
        <ul class="pagination">
          {{!-- <li class="page-item"><a class="page-link" href="/">Previous</a></li> --}}
          {{#times products.count}}
            <li class="page-item"><a class="page-link" href="/{{this}}">{{this}}</a></li>
          {{/times}}
          {{!-- <li class="page-item"><a class="page-link" href="/">Next</a></li> --}}
        </ul>
      </nav>
    </div>
  </div>
</div>

<script src="/js/compiled/home.js"></script>