{{!-- Product page --}}

{{> header}}

<div class="container d-flex flex-row justify-content-around mt-4">
  <div class="product-img">
    <img 
      src="{{product.image}}"
      alt="product image" 
      id="variation-image"
      width="256" 
      height="256"
    >
  </div>

  <div class="product-description">
    <h3 id="variation-name">{{product.name}}</h3>
    <p id="variation-description">{{{product.longDescription}}}</p>

    <select class="form-select w-50" id="select-variation" aria-label="Default select example" data-masterid="{{product.master}}">
      {{#each product.variations}}
        <option value="{{pid}}">{{displayValue}}</option>
      {{/each}}
    </select>

    <h4 id="variation-price">Price: {{product.price}}$</h4>

    <button id="add-cart-product" class="btn btn-success mt-4">Add to cart</button>
  </div>
</div>

<script src="/js/compiled/product.js"></script>